# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Poetry
dist/
.venv/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.sublime-*
*.swp

# Alembic
# Uncomment if you want to ignore generated migration files
# alembic/versions/*.py

# Docker
.docker/

# System
.DS_Store
Thumbs.db